# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store

# Piper
piper/

# User profiles
profiles/

# Test files
tests/

# Model files
*.onnx
*.onnx.jsona

# Temporary voice files
voice/temp_voice*.mp3